
apiVersion: 1
groups:
  - orgId: 1
    name: image_size
    folder: Computer Vision
    interval: 10m
    rules:
      - uid: ff4l9anvqodfkb
        title: alertes app -> discord
        condition: C
        data:
          - refId: A
            relativeTimeRange:
              from: 600
              to: 0
            datasourceUid: prometheus
            model:
              editorMode: code
              expr: sum(increase(cv_abnormal_image_size_total{type="normal"}[10m])) / sum(increase(cv_abnormal_image_size_total[10m]))
              instant: true
              intervalMs: 1000
              legendFormat: __auto
              maxDataPoints: 43200
              range: false
              refId: A
          - refId: C
            datasourceUid: __expr__
            model:
              conditions:
                  - evaluator:
                      params:
                          - 0.6
                      type: lt
                    operator:
                      type: and
                    query:
                      params:
                          - C
                    reducer:
                      params: []
                      type: last
                    type: query
              datasource:
                  type: __expr__
                  uid: __expr__
              expression: A
              intervalMs: 1000
              maxDataPoints: 43200
              refId: C
              type: threshold
        noDataState: OK
        execErrState: Error
        annotations:
          description: Le taux d'images de taille anormales a dépassé les 40%.
          summary: Trop d'images taille anormales
        labels: {}
        isPaused: false
        notification_settings:
          receiver: Discord CV Alerts
      - uid: cf4i3rmsvtla8e
        title: low_confidence_alert
        condition: C
        data:
          - refId: A
            relativeTimeRange:
              from: 600
              to: 0
            datasourceUid: prometheus
            model:
              editorMode: builder
              expr: sum(cv_low_confidence_predictions_total{prediction_confidence="low"}) / sum(cv_low_confidence_predictions_total)
              instant: true
              intervalMs: 1000
              legendFormat: __auto
              maxDataPoints: 43200
              range: false
              refId: A
          - refId: C
            datasourceUid: __expr__
            model:
              conditions:
                  - evaluator:
                      params:
                          - 0.8
                      type: gt
                    operator:
                      type: and
                    query:
                      params:
                          - C
                    reducer:
                      params: []
                      type: last
                    type: query
              datasource:
                  type: __expr__
                  uid: __expr__
              expression: A
              intervalMs: 1000
              maxDataPoints: 43200
              refId: C
              type: threshold
        noDataState: OK
        execErrState: Error
        for: 2m
        keepFiringFor: 2m
        annotations:
          description: Plus de 60% des prédictions ont eu un taux de confidence en dessous de 0.6
          summary: Taux de confidence trop bas
        labels: {}
        isPaused: false
        notification_settings:
          receiver: Discord CV Alerts
      - uid: df4hdpf9ni0w0d
        title: bad_feedback_rate
        condition: C
        data:
          - refId: A
            relativeTimeRange:
              from: 600
              to: 0
            datasourceUid: prometheus
            model:
              editorMode: code
              expr: (sum(cv_user_feedback_total{feedback_type="negative"}) / sum(cv_user_feedback_total)) unless sum(cv_user_feedback_total) == 0
              instant: true
              intervalMs: 1000
              legendFormat: __auto
              maxDataPoints: 43200
              range: false
              refId: A
          - refId: C
            datasourceUid: __expr__
            model:
              conditions:
                  - evaluator:
                      params:
                          - 0.5
                      type: gt
                    operator:
                      type: and
                    query:
                      params:
                          - C
                    reducer:
                      params: []
                      type: last
                    type: query
              datasource:
                  type: __expr__
                  uid: __expr__
              expression: A
              intervalMs: 1000
              maxDataPoints: 43200
              refId: C
              type: threshold
        noDataState: OK
        execErrState: Error
        for: 2m
        keepFiringFor: 2m
        annotations:
          description: Le taux de feedback négatif moyen est passé au dessus de 0.5
          summary: Taux de feedback négatif elevé
        labels: {}
        isPaused: false
        notification_settings:
          receiver: Discord CV Alerts
      - uid: cf4ehtp1he3uob
        title: alert_high_latency
        condition: C
        data:
          - refId: A
            relativeTimeRange:
              from: 600
              to: 0
            datasourceUid: prometheus
            model:
              editorMode: code
              expr: rate(cv_inference_time_seconds_sum[5m]) / rate(cv_inference_time_seconds_count[5m])
              instant: true
              intervalMs: 1000
              legendFormat: __auto
              maxDataPoints: 43200
              range: false
              refId: A
          - refId: C
            datasourceUid: __expr__
            model:
              conditions:
                  - evaluator:
                      params:
                          - 3
                      type: gt
                    operator:
                      type: and
                    query:
                      params:
                          - C
                    reducer:
                      params: []
                      type: last
                    type: query
              datasource:
                  type: __expr__
                  uid: __expr__
              expression: A
              intervalMs: 1000
              maxDataPoints: 43200
              refId: C
              type: threshold
        noDataState: OK
        execErrState: Error
        for: 2m
        annotations:
          description: Latence moyenne > 2s pendant 2 minutes
          summary: Latence élevée détectée
        labels:
          severity: critical
        isPaused: false
        notification_settings:
          receiver: Discord CV Alerts
      - uid: cv-db-disconnected
        title: Database Disconnected
        condition: C
        data:
          - refId: A
            queryType: ''
            relativeTimeRange:
              from: 600  # -10 minutes
              to: 0      # maintenant
            datasourceUid: prometheus
            model:
              editorMode: code
              expr: cv_database_connected
              instant: true
              range: false
              refId: A
          - refId: C
            datasourceUid: __expr__
            model:
              conditions:
                - evaluator:
                    params:
                      - 1
                    type: lt
                  reducer:
                    type: last
                  type: query
              expression: A
              type: threshold
        noDataState: Alerting
        execErrState: Alerting
        for: 1m
        annotations:
          description: L'API ne peut plus accéder à PostgreSQL
          summary: Base de données PostgreSQL déconnectée
        labels:
          severity: critical
        isPaused: false
